
$backgroundColor: #6C9BD9;
$footerheaderColor: #020F59;
$secondColor: #5581D9;

header {
    background-color: $footerheaderColor;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 117px;
    padding-right: 140px;
}

main {}

footer {
    height: 80px;
    background-color: $footerheaderColor;
    position: fixed;
    bottom: 0;
    width: 100%;
}

body {
    min-height: 100vh;
    width: 100%;
    margin: 0%;
    background-color: $backgroundColor;
}

.navbar-brand {
    justify-content: left;
    font-weight: bold;
    font-size: 40px;
    padding-right: 780px;
    color: $backgroundColor;
}

.nav-item {
    padding-right: 38px;
    color: $backgroundColor;
}

.form-control {
    border-radius: 31px;
    border-color: $secondColor;
    border-width: 2px;
}

a {
    color: $backgroundColor;
}

.card {
    margin: auto;
    background-color: $backgroundColor;
    border-radius: 0px, 0px, 15px, 15px;
    width: 467px;
    height: 467px;
    display: flex;
    .card-img-top {
        display: flex;
        flex-direction: row;
    }
}

