body {
    background-color: $bg-color;
    background-repeat: no-repeat;
    margin: 0;
    width: 100%;
}

footer {
    // position: fixed;
}

.row {
    padding-top: 15px;

    .col {
        height: 550px;
        background-color: #6C9BD9;
        padding-top: 450px;
        display: flex;
        padding-left: 30px;
        font-family: $font-stack;
        text-align: center;
        font-size: 40px;
        display: block;
        margin: auto;
        padding-top: 100px;

        img {
            height: 333px;
            width: 345px;
        }
    }
}

.card {
    margin-bottom: 15px;
    background-color: $primary-color;
    border-radius: 0px, 0px, 15px, 15px;
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;

    .card-body {
        background-color: $primary-color !important;

        .card-title {
            font-weight: bold;
            color: #ffffff;
            font-family: $font-text;
            font-size: 20px;
            text-align: center;
        }
    }

    .card-text {
        font-family: $font-text;
        font-size: 15px;
        color: #ffffff;
    }

    .card-img-top {
        display: flex;
        flex-direction: row;
    }

    .btn-link {
        text-decoration: none;
        color: white;
    }

    a:hover {
        text-decoration: underline;
    }
}


h1 {
    font-size: 50px;
    font-weight: bold;
    font-family: $font-text;
    text-align: center;
    padding-top: 270px;

}


form {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 31px;
    padding-top: 90px;


}

.zoekbalk {
    display: flex;
    flex-direction: row;
    width: 390px;
    // height: 150px;
}

input {
    flex-grow: 2;
    border: none;
    border-radius: 31px;
    border: 2px solid $bright-blue;
    text-align: center;
}

button {
    border: 5px solid$bright-blue;
    background: blue;
    color: white;
    border-radius: 31px;
}

.zoekbalk-versiering {
    text-align: center;
    padding-top: 10px;
    width: 390px;
    padding-right: 30px;
    margin-bottom: 70px;

    img {
        width: 60%;
        height: auto;
    }

}

.oerhollands-light {
    color: $another-blue;
    padding-top: 90px;
}

.button-allrecipes {
    font-weight: bold;
    font-family: $font-text;
    border-radius: 8px;
    background-color: $primary-color;
    border: none;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    padding-top: 5px;
    text-decoration: none;
}

.text-box {
    h1 {
        text-align: left;
        margin-left: 70px;
        width: 600px;
        height: 10px;
        padding-left: 20px;
        color: $bg-color;
        font-size: 35px;
        border-bottom: 50px solid $light-color;
        position: relative;
        bottom: 570px;
    }

    p {
        width: 600px;
        background-color: $light-color;
        margin-left: 70px;
        padding-left: 20px;
        padding-right: 100px;
        color: #ffffff;
        margin-top: 10px;
        position: relative;
        bottom: 590px;
        min-height: 720px;

        img {
            margin-left: 510px;
            width: 50px;
            height: 50px;
            position: relative;
            top: 660px;
        }
    }
}

.container-fluid {
    .row {
        padding-top: 0px;
    }
}

.ingredients {
    width: 600px;
    background-color: $light-color;
    margin-left: 70px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 100px;
    color: #ffffff;
    margin-top: 10px;
    max-height: 350px;
    min-height: 350px;
}

.gerecht-foto {
    img {
        max-height: 400px;
        padding-left: 850px;
        position: relative;
        bottom: 350px;
        max-width: 1449px;
    }
}

// .text-box{
//     h1{
//         color: #ffffff;
//         background-color: $light-color;
//         height: 628px;
//         width: 1088px;
//         margin-left: 10px;
//         padding-left: 10px;
//         padding-top: 100px;
//         margin-top:282px;
//         text-align: left;
//     }
//     p{
//         font-weight: bold;
//         text-align: left;
//         padding-bottom: 200px;

//         // color: $bg-color;
//     }
// }