$font-stack: 'Sansita Swashed', sans-serif;
$font-text: 'Montserrat', sans-serif;
$primary-color: #6C9BD9;
$bg-color: #CEDEF2;
$dark-color:#020F59;
$light-color: #6C9BD9;
$bright-blue: #0000FF;
$another-blue: #5581D9
